body {
    background-color: rgb(255, 237, 203);
    font-family: Arial, Helvetica, sans-serif;
  }

h1 {
    color: rgb(255, 161, 53);
    text-align:center;
}

.buttons {
    margin: 0 auto;
    width: 660px;
}

.site_function {
    display: block;
    background-color: rgb(255, 161, 53);
    padding: 15px 25px;
    color: white;
    box-shadow: 0 7px 0 rgb(128, 68, 0);
    text-decoration: none;
    text-align: center;
    height: 25px;
    width: 150px;
    margin: 10px;
    float: left;
    font-size: 16px;
    font-weight: bold;
}

.site_function:hover {
    background-color: rgb(190, 102, 0);
}

.site_function:active {
    box-shadow: none;
    top: 7px;
}

hr {
    border: 1px dashed rgb(128, 68, 0);
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-collapse: collapse;
    text-align: left;
    border: thin solid #832300;
}

table thead tr {
    background-color: rgb(255, 161, 53);
    color: #ffffff;
    text-align: left;
}

table th,
table td {
    padding: 12px 15px;
}



table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}



button {
    background-color: #9F2B00;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #832300;
}

button:active {
    background-color: #330e00;
}

.author_info {
    text-align: center;
}

#recipe_add_to_cart {
    display: block;
    float:none;
    clear:both;
    margin: 0 auto;
    margin-top: 10;
}

.instruction_list {
    display: block;
    background-color: #f3f3f3;
    margin: 0 auto;
    margin-top: 10px;
    width: 450px;
    border: thin solid rgb(255, 161, 53);
    padding-top: 10px;
    padding-bottom: 10px;
}

#list_title {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#search_table {
    margin-top: 100px;
}

#search_table tbody tr {
    background-color: #f3f3f3;
}

.search_button {
    display: block;
    float: left;
    width: 160px;
}

#search_container {
    margin: auto;
    width: 320px;
    padding-top: 5px;
}

.upload_button {
    display: block;
    float: left;
    width: 160;
}

#upload_container {
    margin: auto;
    width: 480px;
    padding-top: 5px;
}

#grocery_table {
    margin-top: 0px;
}

.result_buttons {
    margin: 0 auto;
    width: 440px;
}

#login_table {
    margin-top: 10px;
    border: thin solid #832300;
}

#login_table tbody tr {
    background-color: #f3f3f3;
}

#login_container {
    margin: auto;
    width: 285px;
    padding-top: 5px;
}

.login_button {
    display: block;
    float: right;
    width: 180;
}

#switch_message {
    text-align: center;
}

.error {
    text-align: center;
    display: block;
    float: none;
    clear: both;
    margin: auto;
    color: black;
}

.error_buttons {
    margin: auto;
    margin-bottom: 100px;
    width: 225px;
}