<head>
    <title>{{.Title}}</title>
    <script type="text/javascript" src="http://localhost:8000/js">
    </script>
<link rel="stylesheet" href="http://localhost:8000/blog.css"> 
<hr>
<h1>{{.Title}}</h1>   
<hr>
</head>
<body>
    <p class="author_info">Submitted by {{.Author}} on {{.Date}}.</p>
    <div class="buttons">
    <a class="site_function" href="http://localhost:8000/upload">Upload a Recipe</a>
    <a class="site_function" href="http://localhost:8000/shoppinglist">View Grochery List</a>
    <a class="site_function" href="http://localhost:8000/blog">Return to Blog</a>
</div>
<div id="recipe_table">
<table>
    <thead>
  <tr>
    <th>Ingredient</th>
    <th>Quantity</th>
  </tr>
  </thead>
  <tbody>
    {{range .Ingredients}}
    <tr>
    <td>{{.Name}}</td>
    <td>{{.Quantity}}</td>
</tr>
{{end}}
</tbody>
</table>
</div>
<button id="recipe_add_to_cart" class="add_to_cart" type="button" onclick="updateCart({{.ID}})">Add to Grochery List</button>
<p id="list_title">Instructions</p>    
<ol class="instruction_list">
    {{range .Instructions}}
    <li>{{.}}</li>
    {{end}}
    </ol>`
    </body>